@{
    ViewBag.Title = "Home Page";
}

<div class="pagebody">
   <div class="row">
       <div class="col-md-9">
           <h2 style="text-shadow: 1px 1px #fff;font-size:1.3em;text-transform:uppercase;word-spacing:2px;color:#000000!important;">

               <h2>Welcome <b>@Context.User.Identity.Name</b></h2>


           </h2>
       </div>
       </div>
<div class="row">
    <div class="col-md-1">
        <img src="~/Images/logo2.png" />
    </div>

    <div class="col-md-9">
        <p style="text-shadow: 1px 1px #fff;font-size:1.2em;color:#372f2f;letter-spacing:1px;">Petriss - leading our industry by providing our system to fully manage and document the process of surgical instrument decontimenation and setrialization</p>


    </div>



</div>
    <div class="row">
        <div class="col-md-4">



        </div>
        <div class="col-md-4">


        </div>
        <div class="col-md-4">


        </div>
    </div>

   


</div>
