
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
<div class="pagebody">
    <div class="row">
        <div class="col-md-8">
            <p>
                Please check your Email Inbox, a confirm Email is Sent to @ViewBag.Email
            </p>
        </div>
    </div>
    </div>
